

html {
	height:100%;
}

body {
  padding-top: 70px;
  height:100%;
}

.slide-image {
  width: 100%;
}

.carousel-holder {
  margin-bottom: 30px;
}

.carousel-control,.item {
  border-radius: 4px;
}

.caption {
  height: 130px;
  overflow: hidden;
}

.caption h4 {
  white-space: nowrap;
}

.thumbnail img {
  width: 100%;
}

.ratings {
  color: #d17581;
  padding-left: 10px;
  padding-right: 10px;
}

.thumbnail {
  padding: 0;
}

.thumbnail .caption-full {
  padding: 9px;
  color: #333;
}

footer {
  margin: 0; /* 50px 0*/
}


/* costum style */


.wrapper {
	min-height:100%;
	position: relative;
}

.content {
	
	padding-bottom: 60px;
	
	
}


.footer {
	
	position: absolute;
	bottom:15px;
	height: 60px;
}

.dataTableImg {
	width: 30px;
	height:40px;
	
}

.help-block {
	color: #ffff0000;
}


.adminDataTableImg {
	
	width: 50px;
	height: 50px;
	
} 


.switch {
	width: 50%;
	height: 30%;
	position : relative;
	display : inline-block;
}


.switch input {
	display: none;
}

.slider {
	position : absolute;
	top : 0;
	bottom: 0;
	right : 0;
	left :0;
	cursor : pointer;
	background-color: #ccc;
	border-radius: 30px;
	transition: .5s;
}

.slider:before {
	position : absolute;
	top : 0;
	bottom: 0;
	right : 0;
	left :0;
	background-color: #fff;
	border-radius: 30px;
	transition: .5s;
	width: 20px;
	height: 20px;
	content= "";
}


.input:checked + slider {
	background-color: #1863E6;
}

.input:checked + slider:before {
	tranform: translateX(20px);
}
 






